# https://docs.netlify.com/configure-builds/file-based-configuration/
[build]
command = '''curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y && \
source "${HOME}/.cargo/env" && \
curl -Ls https://micro.mamba.pm/api/micromamba/linux-64/latest | tar -xvj bin/micromamba && \
export MAMBA_ROOT_PREFIX="${HOME}/micromamba" && \
eval "$(./bin/micromamba shell hook -s posix)" && \
micromamba create -n datalayer make python=3.11 nodejs -c conda-forge -y && \
micromamba activate datalayer && \
npm cache clean --force && \
npm install && \
pip install .[docs] && \
npm run docs'''
publish = "docs/build"

# Skip Netlify's automatic npm install - use custom build command only
# Setting NPM_FLAGS to just print version skips the install
[build.environment]
NODE_VERSION = "22.21.1"
NPM_FLAGS = "--version"
